.container {
  width: 15% !important;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.user-label{
    padding: 15px;
}

.login-btn-div{
  padding: 15px;
}